.head{
    width: 100%;
    background-image: url(../../assets/images/page-heading-bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head span{
    background-color: #fff;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 25px;
  margin-bottom: 30px;
}
.head span a{
    color: #1e1e1e;
}
.head h3{
    font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}
