.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 1rem 2rem;
    width: 100%;
    border-top: 1px solid #eee;
}

.nav-logo 
{
    font-size: 28px;
    text-transform: uppercase;
    color: #1e1e1e;
    font-weight: 700;
    letter-spacing: 2px;
    
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    color: #333;
    font-weight: 500 !important ;
    font-size: 15px !important;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    text-decoration: none;

}
.nav-links a:active{
    color: #f35525 ;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.schedual-visit button svg
{
    color: #fff;
    
}
.schedual-visit button{
    background: none ;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f35525;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -40px;
    z-index: 1;
}
.schedual-visit .text-schedular{
    background-color: black;
    padding-top: 15px;
    padding-left: 15px;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 1rem 0;
        text-align: center;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        z-index: 1;
        
    }

    .menu-icon {
        display: block;
    }

    .menu-icon i {
        font-size: 1.5rem;
    }

    .active {
        height: 300px; /* Adjust height as needed */
        flex-direction: column;
        position: absolute;
        top: 101%;
        left: 10%;
        width: 540px;
        background-color: #fff;
        padding: 1rem 0;
        text-align: center;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        z-index: 999;
        
    }
    ul li {
        border-bottom: 1px solid #333;
        padding: 1rem 2rem;
        list-style: none;
    }
    ul li a{
        font-weight: 400;
        color: #1e1e1e;
        transition: all ;
    }
}

@media screen and (max-width: 540px)
{
    .active{
        width: 300px;
        left: 20%;
    }
}
